/* -------------------------- */
/*       - HOME PAGE -
/* -------------------------- */

// --- FEATURED LISTING SECTION --- \\
.featured-listing {
    position: relative;
    height: 80vh;
}
.slider-wrap {
    height: 70vh;
    background-color: red;
    margin: 0 25rem;
    margin-top: -25vh;
}