/* -------------------------- */
/*       - MORE BUTTON -
/* -------------------------- */

.btn-more {
    color: $color-black;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    text-decoration: underline;
    display: inline-flex;
    padding: .2rem;
    cursor: pointer;
}