/* -------------------------- */
/*       - SERVICES -
/* -------------------------- */

// Main Services Wrapper
.services {
    min-height: 100vh;
    background-color: $color-secondary-dark;
    display: flex;
    @media only screen and (max-width: $bp-largest-5) { min-height: 80vh; }
    @media only screen and (max-width: $bp-small) { min-height: 180vh; }
}

// Services Wrap
.services-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -20vh;
    @media only screen and (max-width: $bp-small) { margin-top: -95vh; }
    // Main Text
    &__main-text {
        color: $color-white;
        font-size: 1.5rem;
        width: 80%;
        text-align: center;
        letter-spacing: .05rem;
        margin-bottom: 12rem;
        @media only screen and (max-width: $bp-small) { width: 95%; margin-bottom: 8rem; }
        h2 { font-weight: 600; }
    }
}

// Service Blocks Wrap
.service-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $bp-small) { flex-direction: column; }
}

// Service Block
.service-block {
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: $bp-small) { margin-bottom: 5rem; }
    // Icon
    i { color: $color-primary-light; font-size: 6rem; margin-bottom: 2rem; }
    // Text
    h3 { color: $color-white; font-size: 1.6rem; font-weight: 500;
        @media only screen and (max-width: $bp-medium) { font-size: 1.5rem; }
    }
}